<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
 <appSettings>
     <add key="OT76TrackUrl" value="http://www.ot76.ru/mob/"/>
		 <add key="YargortransTrackUrl" value="http://www.yargortrans.ru/mar.php"/>
		 <add key="IncomingWebhookUrl" value="http://lus:3000/hooks/HoTR2Hoz3Wdm4yW3j/EfkkRAGRNXuGn7egJ7EGW4ATHdiQrNHaw8ejWFoQxpBwdQha"/>
		 <add key="Icon" value="http://findicons.com/files/icons/2219/dot_pictograms/256/bus.png"/>
  </appSettings>
</configuration>
